<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alumni page</title>
</head>
<body>  
    <header>
        <h1>Welcome to alumni page</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/members/">members</a></li>
            <!-- <li><a href="/contact/">Contact</a></li> -->
        </ul>
    </nav>
    <main>
        <section>
            <h2>members</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod velit quis augue congue fermentum.</p>
        </section>
        <!-- <section>
            <h2>Contact</h2>
            <p>Email: info@example.com</p>
            <p>Phone: 123-456-7890</p>
        </section> -->
    </main>
    <footer>
        <p>&copy; 2023 My Webpage. All rights reserved.</p>
    </footer>
</body>
</html>
